.customswitch {
    background-color:#7007e7a4!important;
  }

  .history {
    line-height: 40px;
    width: 200px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px 5px;
  }

  .history ul {
    list-style: none;
    color: 'purple';
  }

  .history ul li {

    background-color: rgba(128, 128, 128, 0.3);
    color: 'white';
    font-size: 26px;
     font-weight: bold;
     font-family: OUTFIT; 
  }
  
  .history a {
    display: block;
    padding: 5px 0;
    color: palevioletred;
    text-decoration: none;
  }

